<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Summon2Scale Scoreboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/stylesheet.css" />
  </head>
  <body>
    <header>
      <h1>Summon2Scale Scoreboard</h1>
    </header>
    <main>
      <a href="/scoreboard/top?total=10&timeframe=alltime&unique=True"
        >See scoreboard</a
      >
      <a href="/scoreboard/new?total=10">See score feed</a>
    </main>
  </body>
</html>
