<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Summon2Scale Scoreboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/stylesheet.css" />
  </head>
  <body>
    <header>
      <h1>Summon2Scale Scoreboard</h1>
    </header>
    <main>
      <a href="/scoreboard/top?total=10&timeframe=alltime&unique=True"
        >See scoreboard</a
      >
      <a href="/scoreboard/new?total=10">See score feed</a>
    </main>
    <footer>
      <nav>
        <ul>
          <li>
            <a href="https://jman9092.itch.io/summon-to-scale"
              >play the game!</a
            >
          </li>
          <li>
            <a href="https://github.com/alifeee/summon2scale-scoreboard"
              >scoreboard source</a
            >
          </li>
          <li>
            <a href="https://github.com/dicemaster5/Summon2Scale"
              >game source</a
            >
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
