<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Summon2Scale Scoreboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/static/stylesheet.css" />

    <script src="/static/convert_times.js"></script>

    <meta http-equiv="refresh" content="60" />
  </head>
  <body>
    <header>
      <h1>Summon2Scale Scoreboard</h1>
      <h2>TOP ({{timeframe}})</h2>
    </header>
    <main>
      <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Height</th>
          <th>Time</th>
        </tr>
        {% if scores|length == 0 %}
        <tr>
          <td></td>
          <td colspan="3">no results...</td>
        </tr>
        {% endif %} {% for score in scores %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{score.name}}</td>
          <td>{{"%.2f" % score.max_height}}</td>
          <td class="timestamp">{{score.timestamp}}</td>
        </tr>
        {% if loop.index == total|int %}
        <tr>
          <td></td>
          <td colspan="3">more scores past this point...</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
      <form action="/scoreboard/top" method="GET">
        <label for="total">Total</label>
        <input type="number" id="total" name="total" value="{{total}}" />
        <select id="timeframe" name="timeframe" value="{{timeframe}}">
          <option {% if timeframe == "daily" %}selected{% endif %}>daily</option>
          <option {% if timeframe == "weekly" %}selected{% endif %}>weekly</option>
          <option {% if timeframe == "alltime" %}selected{% endif %}>alltime</option>
        </select>
        <br />
        <label for="duplicates">show duplicates?</label>
        <input type="checkbox" id="duplicates" name="unique" value="False" {% if
        unique == False %}checked{% endif %} />
        <br />
        <button type="submit">reload</button>
      </form>
      <a href="/">Back to homepage</a>
    </main>
  </body>
</html>
